@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}


header {
    position: relative;
}

header h1 {
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-family: "Damion", cursive;
    color: #ffffff
}


.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    /* 固定部分の奥行き */
}

nav {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

nav ul {
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

ul {
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    right: 1rem;
}

nav ul li a {
    font-weight: bold;
    color: #ffffff;
}

/* スマートフォン用 */

@media all and (max-width:430px) {
    header h1 {
        position: absolute;
        font-size: 15px;
        left: 0.4rem;
        top: 0.1rem;
    }

    nav {
        opacity: 0;
    }
}

/* iPad用 */

@media all and (max-width:960px) {


    header h1 {
        font-size: 25px;
        left: 0.7rem;
        top: 0.4rem;
    }


    nav {
        opacity: 0;
    }
}




/* ここからcontent */


.content-area {

    padding: 2.5rem;
    max-width: 1200px flex-grow 1;

}


main {
    unicode-bidi: isolate;
    /*テキスト表示の対応*/
    padding-bottom: 0%;
}


section {
    background: #ffffff;
    padding: 150px 0;

}


.lead {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 80vh 0 0 0;
}

.lead-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
        /*flexアイテムを一行に押し込むか複数行に押し込むか */
}


.lead-heading {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%;

    /* フォント */
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;
}

.lead-desc {

    width: 60%;
    margin: 0 auto;
    padding-top: 5vh;
    text-align: center;
    /* フォント */
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.about-btn {

    padding-top: 50px;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.history {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 80vh 0 0 0;
}

.history-heading {
    display: block;
    text-align: center;
    margin: 0 auto;
    /* フォント */
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;

}

.history-desc {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding-top: 6vh;
    /* フォント */
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.history-btn {
    padding-top: 50px;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.sound {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 80vh 0 0 0;
}

.sound-heading {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;

    /* フォント */
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;

}

.soundbtn {
    display: block;
    margin: 0 auto;

}


.sound-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding-top: 6vh;
    /* フォント */
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.player {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 80vh 0 0 0;
}

.player-heading {
    display: block;
    text-align: center;
    margin: 0 auto;
    /* フォント */
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;

}

.player-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding-top: 6vh;
    /* フォント */
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.player-btn {
    padding-top: 50px;
    display: block;
    width: 120px;
    margin: 0 auto;
}

/* スマートフォン用 */

@media all and (max-width:960px) {
    .lead-heading {
        width: 100%;
        font-size: 27px;
    }

    .lead-desc {
        padding-top: 3vh;
        width: 100%;
        font-size: 17px;
    }

    .about-btn {
        padding-top: 40px;
        width: 180px;
        font-size: 14px;
    }

    .history-heading {
        width: 100%;
        font-size: 27px;
    }
    
    .history-desc {
        width: 100%;
        padding-top: 3vh;
        font-size: 17px;
    }
    
    .history-btn {
        padding-top: 40px;
        width: 180px;
        font-size: 14px;
    }

    .sound-heading {
        width: 100%;
        font-size: 27px;
    }
    
    .sound-desc {
        width: 100%;
        padding-top: 6vh;
        font-size: 17px;
    }

    .player-heading {
        width: 100%;
        font-size: 27px;
    
    }
    
    .player-desc {
        width: 100%;
        padding-top: 4vh;
        font-size: 17px;
    }
    
    .player-btn {
        padding-top: 40px;
        display: block;
        width: 110px;
        font-size: 14px;

    }
}

/* iPad用 */

@media all and (min-width:430px) {}





/* footerーarea */

footer {
    background: #333;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    width: 100%;

}

.footertext {
    font-family: "Damion", cursive;
}




a.pagetop {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DBB82E;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 20px;
}

html {
    scroll-behavior: smooth;
}